/* Color pallete: 

background color: rgb(50, 35, 85); or '#322355', DARK COLOR
text: rgb(221, 149, 226) LIGHT COLOR
more text: rgb(192, 160, 255); LIGHT COLOR
more text: rgb(236, 233, 51); LIGHT COLOR
buttons: rgb(53, 21, 94); 
button background: #4d4985; DARK
borders: rgb(232, 25, 243); LIGHT 

Potential:
DARK COLORS
Background purple: #433c5e
Another dark purple: rgb(50, 35, 85); or '#322355'
Purple: #4d4985;
Another purple: #54478C;
Russian Violet: #2F1847

LIGHT COLORS: 
Muted pink: #b98eb1
Lavender: rgb(192, 160, 255);
Light lavender: #AAA1C8
Peach: #ebc1d2
Bright pink: rgb(232, 25, 243); 
Easter yellow: #fffde0
Bright yellow: #fefa99

*/ 

:root {
  --fc-daygrid-event-dot-color: #fefa99;
  --fc-daygrid-event-dot-width: 8px; /* Day grid dot next to event*/
  --fc-list-event-dot-width: 8px;     /* Month list dot next to event */
  --fc-list-event-hover-bg-color: #4d4985; /* Month list date hover */
  --fc-small-font-size: .85em; /* Font size of event on month calendar */
  --fc-page-bg-color: #ebc1d2; /* Outline of box for multi-day event. #322355; */
  --fc-neutral-bg-color: rgb(50, 35, 85);/*Month list background panel for date and day*/
  --fc-border-color: rgb(192, 160, 255); /* The outline (grid) color of the calendars */
  --fc-button-text-color: #d3e01c; /*Font of buttons above calendars*/
  --fc-today-bg-color: #b98eb1;  /* Color of cell for today's day */
}


body {
  margin: 0;
  padding-top: 30px;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: #AAA1C8; /* Font color for header: Let's start scheming and event text in my-events */
  text-align: center; /* Alignment for headers */
  background-color: #433c5e; /*THIS NEEDS TO BE DARK*/


/* BUTTONS! */


.btn-outline-light {
  color: rgb(50, 35, 85); 
  background: #b98eb1; 
  border: 1.5px solid rgb(50, 35, 85); 
  transition: 0.5s color ease;
  margin-right: 10px; 
  margin-left: 10px; 
  margin-top: 5px;
  margin-bottom: 5px; 
}

.btn-outline-light:hover {
  color: #b98eb1; 
  background: #433c5e;
  border: 1.5px solid #b98eb1;
  text-decoration: none;
  margin-right: 10px; 
  margin-left: 10px; 
  margin-top: 5px;
  margin-bottom: 5px; 
}

.btn-outline-dark {
  color: #ebc1d2;
  background: #433c5e;
  border: 1.5px solid #b98eb1;
  transition: 0.5s color ease;
  margin-right: 10px; 
  margin-left: 10px; 
  margin-top: 5px;
  margin-bottom: 5px; 
}

.btn-outline-dark:hover {
  color: rgb(50, 35, 85); /*THIS NEEDS TO BE DARK*/
  background: #b98eb1;
  border: 1.5px solid rgb(50, 35, 85);
  text-decoration: none;
  margin-right: 10px; 
  margin-left: 10px; 
  margin-top: 5px;
  margin-bottom: 5px; 
}

.btn-outline-secondary {
  color: #322355;
  background: #AAA1C8;
  border: 1.5px solid #322355;
  transition: 0.5s color ease;
  margin-right: 10px; 
  margin-left: 10px; 
  margin-top: 5px;
  margin-bottom: 5px; 
}

.btn-outline-secondary:hover {
  color: #AAA1C8;
  background: #322355;
  border: 1.5px solid #AAA1C8;
  text-decoration: none;
  margin-right: 10px; 
  margin-left: 10px; 
  margin-top: 5px;
  margin-bottom: 5px; 
}

.btn-outline-lavender {
  color: #AAA1C8;
  background: #322355;
  border: 1.5px solid #AAA1C8;
  transition: 0.5s color ease;
  margin-right: 10px; 
  margin-left: 10px; 
  margin-top: 5px;
  margin-bottom: 5px; 
}

.btn-outline-lavender:hover {
  color: #322355; /*THIS NEEDS TO BE DARK*/
  background: #AAA1C8;
  border: 1.5px solid #322355;
  text-decoration: none;
  margin-right: 10px; 
  margin-left: 10px; 
  margin-top: 5px;
  margin-bottom: 5px; 
}


.nav-link {
  color: #b98eb1;
}

.nav-link-dropdown-toggle {
  color: #b98eb1;
  background: #433c5e;
  border: 1.5px solid #b98eb1;
  transition: 0.5s color ease;
}

.dropdown-menu {
  color: #b98eb1;/*THIS NEEDS TO BE DARK*/
  background: #b98eb1;
  border: 1.5px solid #433c5e;
  text-decoration: none;
}

.dropdown-menu:hover {
  color: #433c5e;
  background: #433c5e;
  border: 1.5px solid #b98eb1;
  transition: 0.5s color ease;
}

.dropdown-menu .dropdown-item {
  background: #b98eb1;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #433c5e; 
}

/* MODALS! */

.modal-dialog {
  background: #54478C; /* Modal outline color*/
  color: #2F1847 /* Modal heading font color*/
}

.modal-content {
  background: #b98eb1; /* Modal outline color*/
  color: #2F1847 /* Modal heading font color*/
}

.modal-header {
  background: #b98eb1; /* Modal header color*/
  color: #433c5e;   /* Modal heading font color*/
}

.modal-body {
  background: #b98eb1; /* Modal square background color*/
  color: #433c5e;
}

.input-group {
  background: #433c5e; /* Modal square background color*/
  color: #d2cb07;
}

.input-group-text {
  background: #433c5e;/* Modal square background color*/
  color: #ebc1d2
}

.row {
  color: #AAA1C8 /* Font color of collapse */
}

.card {
  color:  #AAA1C8;
  background: rgb(50, 35, 85);
  border: 1.5px solid #b98eb1; /* Modal border color*/
}

.list-group {
  color:  #AAA1C8; /* Modal border color*/    
  padding-left: 400px;  /* Adjust left padding */
  padding-right: 400px; /* Adjust right padding */
}

.list-group-item {
  color: #AAA1C8;
  background: rgb(50, 35, 85);
  border: 1.5px solid #ebc1d2; /* Modal border color*/
}

.mb-1 {
  text-align: center;
}

.list-group-item:hover {
  color: #AAA1C8;
  background: rgb(50, 35, 85);
  border: 1.5px solid #ebc1d2; /* Modal border color*/
}




/* CSS for dashboard and availability */

#calendar a {
  color: #fefa99; /* LIGHT Font color of calendar month view */
  
}

#available-cal a {
  color: rgb(192, 160, 255);   /* Font color of month list view */
}

#calendar .fc-button-primary {            /* Buttons above calendar */
  background-color: rgb(74, 52, 117);
  border: 1px solid rgb(50, 35, 85);
  transition: 0.5s color ease;
}

#available-cal .fc-button-primary {       /* Buttons above calendar */
  background-color: rgb(74, 52, 117);
  border: 1px solid rgb(50, 35, 85);
}


#calendar .fc-button-primary:hover {     /* Buttons above calendar when hovered over */
  background-color: rgb(50, 35, 85);
  border: 1px solid rgb(192, 160, 255);
  
}

#available-cal .fc-button-primary:hover {  /* Buttons above calendar when hovered over */
  background-color: rgb(50, 35, 85);
  border: 1px solid rgb(192, 160, 255);
}


#calendar {       
  max-width: 800px;           /* Calendar sizing */
  margin: 10px auto;
  background: rgb(50, 35, 85);
  color: rgb(221, 149, 226) /* Calendar header font color */
}

#available-cal {             /* Calendar sizing */
  max-width: 800px;
  margin: 10px auto;
  background: rgb(50, 35, 85);
  color: rgb(221, 149, 226) /* Calendar header font color */
}



