/* Color pallete: 

background color: rgb(50, 35, 85); or '#322355', DARK COLOR
text: rgb(221, 149, 226) LIGHT COLOR
more text: rgb(192, 160, 255); LIGHT COLOR
more text: rgb(236, 233, 51); LIGHT COLOR
buttons: rgb(53, 21, 94); 
button background: #4d4985; DARK
borders: rgb(232, 25, 243); LIGHT 

Potential:
DARK COLORS
Background purple: #433c5e
Another dark purple: rgb(50, 35, 85); or '#322355'
Purple: #4d4985;
Another purple: #54478C;
Russian Violet: #2F1847

LIGHT COLORS: 
Muted pink: #b98eb1
Lavender: rgb(192, 160, 255);
Light lavender: #AAA1C8
Peach: #ebc1d2
Bright pink: rgb(232, 25, 243); 
Easter yellow: #fffde0
Bright yellow: #fefa99

*/ 


body {
  margin: 0;
  padding-top: 30px;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: rgb(221, 149, 226);  /* Font color for header: Let's start scheming and event text in my-events */
  text-align: center; /* Alignment for headers */
  background-color: #433c5e; /*THIS NEEDS TO BE DARK*/

.btn-outline-light {
  color: rgb(50, 35, 85); 
  background: #b98eb1; 
  transition: 0.5s color ease;
}

.btn-outline-light:hover {
  color: #b98eb1; 
  background: #433c5e;
  text-decoration: none;
}

.btn-outline-dark {
  color: #b98eb1;
  background: #433c5e;
  transition: 0.5s color ease;
}

.btn-outline-dark:hover {
  color: rgb(50, 35, 85); /*THIS NEEDS TO BE DARK*/
  background: #AAA1C8;
  text-decoration: none;
}

/* CSS for dashboard and availability */

#calendar a {
  color: #fefa99; /* LIGHT Font color of calendar month view */
  
}

#available-cal a {
  color: rgb(192, 160, 255);   /* Font color of calendar month view */
}

#calendar .fc-button-primary {            /* Buttons above calendar */
  background-color: rgb(74, 52, 117);
  border: 1px solid rgb(50, 35, 85);
}

#available-cal .fc-button-primary {       /* Buttons above calendar */
  background-color: rgb(74, 52, 117);
  border: 1px solid rgb(50, 35, 85);
}


#calendar .fc-button-primary:hover {     /* Buttons above calendar when hovered over */
  background-color: rgb(50, 35, 85);
  border: 1px solid rgb(192, 160, 255);
}

#available-cal .fc-button-primary:hover {  /* Buttons above calendar when hovered over */
  background-color: rgb(50, 35, 85);
  border: 1px solid rgb(192, 160, 255);
}


#calendar {       
  max-width: 800px;           /* Calendar sizing */
  margin: 10px auto;
  background: rgb(50, 35, 85);
  color: rgb(221, 149, 226) /* Calendar header font color */
}

#available-cal {             /* Calendar sizing */
  max-width: 800px;
  margin: 10px auto;
  color: rgb(221, 149, 226) /* Calendar header font color */
}



:root {
  --fc-daygrid-event-dot-width: 8px; /* Day grid dot next to event*/
  --fc-list-event-dot-width: 8px;     /* Month list dot next to event */
  --fc-list-event-hover-bg-color: #4d4985; /* Month list date hover */
  --fc-small-font-size: .85em; /* Font size of event on month calendar */
  --fc-page-bg-color: #322355; /* Outline of box for multi-day event */
  --fc-neutral-bg-color: rgb(50, 35, 85); /*Month list background panel for date and day*/
  --fc-border-color: rgb(192, 160, 255); /* The outline (grid) color of the calendars */
  --fc-button-text-color: #d3e01c; /*Font of buttons above calendars*/
  --fc-today-bg-color: rgb(192, 160, 255);  /* Color of cell for today's day */
  --fc-event-border-color: #c943d6;
}

.btn-bd-primary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: rgb(50, 35, 85);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
  --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
  --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
}