<script src="
    https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.10/index.global.min.js
    ">
    </script>
    <script src="
    https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@6.1.10/index.global.min.js
    ">
    </script>
    <script src="
    https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@6.1.10/index.global.min.js
    ">
    </script>
    <script src="
    https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@6.1.10/index.global.min.js
    ">
    </script>
    <script src="
    https://cdn.jsdelivr.net/npm/@fullcalendar/list@6.1.10/index.global.min.js
    ">
    </script>
    <script src="
    https://cdn.jsdelivr.net/npm/@fullcalendar/multimonth@6.1.10/index.global.min.js
    ">
    </script>
    <script src="
    https://cdn.jsdelivr.net/npm/@fullcalendar/scrollgrid@6.1.10/index.global.min.js
    "></script>