{% extends 'base.html' %}
{% block title %} New Event {% endblock %}
{% block body %}

<form action="/create-event" method="POST">
    <p>
        Title <input type="text" name="title">
    </p>
    <p>
        Description <input type="string" name="description">
    </p>
    <p>
        Date <input type="date" name="date" value="{{ request.args.get('date') }}">
    </p>
    <p>
        Start time <input type="time" name="start_time" value="{{ request.args.get('time') | default('00:00') }}">
    </p>
    <p>
        End time <input type="time" name="end_time"> 
    </p>

    <input type="submit">
</form>

{% endblock body %}
