{% extends 'base.html' %}
{% block title %} Edit Event {% endblock %}
{% block body %}

<form action="/edit-event/{{ event.event_id }}" method="POST">
    <input type="hidden" name="event_id" value="{{ event.event_id }}">
    <p>
        Title <input type="text" name="title" value="{{ event.title }}">
    </p>
    <p>
        Description <input type="string" name="description" value="{{ event.description }}">
    </p>
    <p>
        Start Date <input type="date" name="start_date" value="{{ start_date }}">
    </p>
    <p>
        Start time <input type="time" name="start_time" value="{{ start_time }}">
    </p>
    <p>
        End Date <input type="date" name="end_date" value="{{ end_date }}">
    </p>
    <p>
        End time <input type="time" name="end_time" value="{{ end_time }}">
    </p>

    <input type="submit" class="btn btn-outline-info" value="Update">
    <a type="button" class="btn btn-outline-info" href="/delete-event/{{ event.event_id }}">Delete</a>
</form>

{% endblock body %}

