{% extends 'base.html' %}
{% block title %} It's A Date! {% endblock %}

{% block body %}
    <h1>Let's start scheming!</h1>    

    <h2>Log In</h2>
    <form action="/dashboard" method="POST">
        <p>
           Email <input type="text" name="email"> 
        </p>
        <p>
            Password <input type="text" name="password">
        </p>
        <p>
            <input type="submit">
        </p>
    </form>
    <h2>Navigation</h2>
    <ul>
        <li><a href="/new-user">New around here? Sign up!</a></li>
    </ul>
{% endblock %}

