{% extends 'base.html' %}

{% block title %}It's A Date!{% endblock %}

{% block body %}
    <h1>My agenda!</h1>



    <div class="d-flex flex-wrap justify-content-center mx-auto">
        {% set sorted_events_data = events_data|sort(attribute='start_date') %}
        {% set rendered_months = [] %}

        {% for data in sorted_events_data %}
            {% if data.month not in rendered_months %}
                <div class="mb-2 me-2" data-bs-theme="dark">
                    <a class="btn btn-outline-light"
                       data-bs-toggle="collapse" 
                       href="#multiCollapse{{data.month}}" 
                       role="button" 
                       aria-expanded="false" 
                       aria-controls="multiCollapse{{data.month}}">
                       {{data.month}}
                    </a>
                </div>
                {% set _ = rendered_months.append(data.month) %}
            {% endif %}
            
            <div class="row">
                <div class="col">
                    <div class="collapse multi-collapse" id="multiCollapse{{data.month}}">
                        <div class="card card-body" style="max-width:300px;">
                            Event: {{data.title}}<br>
                            Description: {{data.description}}<br>
                            Start Date: {{data.start_date}}<br>
                            Start time: {{data.start_time}}<br>
                            End Date: {{data.end_date}}<br>
                            End time: {{data.end_time}}<br>
                           
                            <!-- Edit button -->
                            <a class="btn btn-outline-secondary" href="/edit-event/{{ data.event_id }}" role="button">Edit</a>




                            <!-- Delete button trigger modal -->
                            <button type="button" 
                                    class="btn btn-outline-secondary"
                                    data-bs-toggle="modal" 
                                    data-bs-target="#staticBackdrop{{ data.event_id }}">Delete
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" 
                                 id="staticBackdrop{{ data.event_id }}" 
                                 data-bs-backdrop="static" 
                                 data-bs-keyboard="false" 
                                 tabindex="-1" 
                                 aria-labelledby="staticBackdropLabel" 
                                 aria-hidden="true">
                            <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                            <h1 class="modal-title fs-5" 
                                id="staticBackdropLabel">You are about to delete an event</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                                <div class="modal-body">
                                Do you want to proceed?
                                </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancel</button>
                                <a type="button" class="btn btn-outline-dark" href="/delete-event/{{ data.event_id }}">Delete</a>
                            </div>
                            </div>
                            </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}





  
  